.terraform
*.tfstate*
_testmain.go
.DS_Store*
.SSH_KEY/terraform.pem*
terraform.pem*
.SSH_KEY/*


*.exe
*.test
*.prof
*.pem
terraform.tfvars
.terraform
.terraform*
terraform.tfstate*
.terraform.lock.hcl*
*.chef*
*main.tf.*
*.tfvars.*
*.log%
