.terraform
*.tfstate*
_testmain.go
.DS_Store*
.SSH_KEY/terraform.pem*
terraform.pem*
.SSH_KEY/*
*.test
*.prof
*.pem
terraform.tfvars
.terraform*
terraform.tfstate*
.terraform.lock.hcl*
*main.tf.*
*.tfvars.*
*.log%
